<div class="container">
  <mat-card>
    <mat-card-title>User Details</mat-card-title>
    <table border="1" width=100% cellspacing="0">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of (Userlist)">
        <td mat-cell style="text-align: center;"> {{user._id}} </td>
        <td mat-cell style="text-align: center;"> {{user.name}} </td>
        <td mat-cell style="text-align: center;"> {{user.email}} </td>
        <td mat-cell style="text-align: center;">
          <button id="edit" (click)="getUser(user._id)" routerLink="/UserDetailsComponent">
            <mat-icon style="cursor:pointer" >edit</mat-icon>
          </button>
          <button id="delete" (click)='getUser(user._id)'routerLink="/UserDetailsComponent" >
            <mat-icon>delete</mat-icon>
          </button>
          
          <!-- <mat-icon (click)='deleteUser(user._id)'routerLink="/UserDetailsComponent" style="cursor:pointer">delete</mat-icon> -->
         

        </td>
      </tr>

    </table>
  </mat-card>
  <div class="container-fluid">
    <!-- <app-pagetitle title="Orders" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="row mb-md-2">
              <!-- <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="tickets-table_length"><label
                        class="d-inline-flex align-items-center">Show
                        <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                          [(ngModel)]="service.pageSize"
                          class="custom-select custom-select-sm form-control form-control-sm mx-2">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select> entries</label></div>
                  </div> -->
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <!-- <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                    <label class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2" aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label>
                    </div> -->
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <!-- <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{service.startIndex}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div> -->
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                      </ngb-pagination> -->
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
